.checkbox {
  display: flex;
  align-items: center;

  @include hover-default;

  &:focus-within {
    opacity: 0.7;
  }
}

.checkbox__label {
  word-break: break-all;
}

.checkbox__box {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 11px;
  width: 15px;
  height: 15px;

  border: 1px solid $accent;

  .checkbox input:checked + & {
    background: $accent;
  }
}
