.faq {
  margin-bottom: 72px;

  @media (max-width: $tablet) {
    margin-bottom: 37px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 25px;
  }
}

.faq__wrapper {
  max-width: 970px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.faq__item {
  margin-top: 0;

  border-color: $accent;

  &:not(:first-child) {
    border-top: none;
  }
}

.faq__trigger {
  display: flex;

  padding: 44px 48px 44px 42px;

  &::after,
  &::before,
  .is-active &::after,
  .is-active &::before {
    content: none;
  }

  @media (max-width: $tablet) {
    padding-left: 49px;
  }

  @media (max-width: $mobile) {
    padding: 18px 23px 19px 23px;
  }
}

.faq__button-text {
  flex-grow: 1;

  font-family: $font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;

  @media (max-width: $mobile) {
    margin-right: 16px;
    font-size: 16px;
    line-height: 140%;
  }
}

.faq__content {
  padding: 0 0 0 49px;
  max-width: 570px;
  transform: translateY(-36px);

  @media (max-width: $tablet) {
    max-width: 580px;

    transform: translateY(-20px);
  }

  @media (max-width: $mobile) {
    padding-left: 24px;
    max-width: 80%;

    transform: translateY(-4px);
  }

  .is-active & {
    margin-bottom: 5px;

    @media (max-width: $tablet) {
      margin-bottom: 25px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 17px;
    }
  }
}

.faq__heading {
  margin-bottom: 49px;

  @media (max-width: $mobile) {
    margin-bottom: 28px;
  }
}

.faq__heading h2 {
  margin: 0;

  font-family: $font-family-ui;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
}

.faq__icon {
  display: block;
  transition: transform 0.2s ease-out;

  .is-active & {
    transform: rotate(180deg);
  }
}

.faq__trigger svg {
  fill: none;
  stroke: $accent;

  @media (max-width: $tablet) {
    width: 23px;
    height: 12px;
  }
}

.faq__content p {
  margin: 0;
  font-size: 16px;
  line-height: 130%;

  @media (max-width: $mobile) {
    font-size: 14px;
    line-height: 140%;
  }
}
