.filter {
  width: 100%;

  overflow: scroll;
}

.filter__form {
  display: flex;
  flex-direction: column;
}

.filter__container {
  border: 1px solid $accent;

  margin-bottom: 35px;

  @media (max-width: $tablet) {
    .active & {
      border: 0;
    }
  }
}

.filter__wrapper {
  @media (max-width: $tablet) {
    .active & {
      margin-top: 24px;

      position: relative;
      max-width: 458px;
    }
  }
}

.filter__item {
  margin: 0;
  border: 0;

  &:not(:first-child) {
    border-top: 1px solid $accent;
  }
}

.filter__trigger {
  display: flex;
  padding: 25px 23px 23px 25px;

  &::after,
  &::before,
  .is-active &::after,
  .is-active &::before {
    content: none;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.filter__button-text {
  flex-grow: 1;
}

.filter__icon {
  display: block;
  transition: transform 0.2s ease-out;

  .is-active & {
    transform: rotate(180deg);
  }
}

.filter__trigger svg {
  fill: none;
  stroke: $accent;

  @media (max-width: $tablet) {
    width: 23px;
    height: 12px;
  }
}

.filter__checkbox {
  margin-bottom: 12px;

  font-family: $font-family;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;

  &:last-child {
    margin-bottom: 29px;
  }
}

.filter__buttons {
  display: flex;
  flex-direction: column;
}

.filter__button {
  padding: 24px 18px 22px;
  margin-bottom: 25px;

  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $primary;
  text-align: center;

  border: 1px solid $accent;
  background: $white;

  appearance: none;
  cursor: pointer;

  &--filled {
    background: $accent;
    color: $white;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.filter__panel {
  padding: 0 1px 0 34px;
}

.filter__slider {
  margin-bottom: 39px;
  height: 15px;
}

.filter__button-close-container {
  display: none;

  @media (max-width: $tablet) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    transform: translate(50%, -50%);
  }

  @media (max-width: $mobile) {
    z-index: 10;
    top: 0;
    right: 20px;
  }

  @include hover-default;
}

.filter__button-close {
  @media (max-width: $tablet) {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;

    color: transparent;

    border: 0;
    border-radius: 50%;

    background: black;
    appearance: none;
    cursor: pointer;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 50%;

      width: 18px;
      height: 2px;

      background: $white;
    }

    &::after {
      transform: translate(50%, -50%) rotate(45deg);
    }

    &::before {
      transform: translate(50%, -50%) rotate(-45deg);
    }
  }
}
