.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 586px;
  max-height: 100vh;

  overflow: scroll;

  @media (max-width: $mobile) {
    min-height: 470px;
  }
}

.login__hero {
  position: relative;
  height: 138px;

  margin-bottom: 22px;

  @media (max-width: $mobile) {
    height: 84px;
  }
}

.login__hero img {
  object-fit: cover;

  @media (max-width: $mobile) {
    height: 84px;
  }
}

.login h2 {
  font-family: $font-family-ui;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  color: inherit;
  text-transform: capitalize;

  @media (max-width: $mobile) {
    font-size: 24px;
    line-height: 130%;
  }
}

.login__submit {
  width: 100%;

  @include hover-default;
}

.login p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $grey;
}

.login__sign-up {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $primary;

  cursor: pointer;

  @include hover-default;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 370px;
  padding-left: 15px;
  padding-right: 15px;
}

.login__label {
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: 26px;

    @media (max-width: $mobile) {
      margin-bottom: 17px;
    }
  }
}

.login__form input {
  width: 100%;
  padding: 5px 5px 8px 0;

  font-family: $font-family;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $primary;

  background: transparent;
  border: 0;
  border-bottom: 1px solid $primary;
  outline: none;

  transition: border-color 0.2s ease-out;

  &:placeholder {
    color: $grey;
  }

  &:last-of-type {
    margin-bottom: 5px;
  }

  &:hover {
    border-bottom: 1px solid $accent;
  }

  &:focus {
    border-bottom: 1px solid $accent;

    &::placeholder {
      color: rgba($accent, 0.6);
    }
  }
}

.login__restore-pw {
  margin: 0;
  align-self: flex-end;
  margin-bottom: 45px;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $grey;

  cursor: pointer;

  @media (max-width: $tablet) {
    margin-bottom: 44px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 35px;
  }

  @include hover-default;
}
