.nav__container {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;

  list-style: none;

  margin: -35px 0 0 -35px;
  width: calc(100% + 35px);

  @media (max-width: $tablet) {
    .header--active .nav--secondary &,
    .page--nojs .nav--secondary & {
      display: contents;
    }

    margin: auto;
    width: auto;
  }

  @media (max-width: $tablet) {
    flex-direction: column;
  }

  .nav--alternate & {
    margin-top: 0;
  }
}

.nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: inherit;

  &:active {
    opacity: 0.7;
  }

  margin: 35px 0 0 35px;

  &--cart {
    @media (max-width: $tablet) {
      position: absolute;
      display: block;
      top: 54px;
      right: 44px;
      margin: 0;

      .header--active &,
      .page--nojs & {
        &:hover,
        &:focus {
          border-bottom: 1px solid white;
        }
      }
    }

    @media (max-width: $mobile) {
      top: 37px;
      right: 14px;
    }
  }

  @media (max-width: $tablet) {
    margin: initial;
  }

  .header--active &,
  .page--nojs & {
    @media (max-width: $tablet) {
      color: $white;

      &:not(.nav__link--cart) {
        @include hover-animation($white);
      }
    }
  }

  .nav--secondary & {
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;

    @media (max-width: $tablet) {
      margin-top: 0;

      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
    }
  }

  .nav--alternate & {
    width: fit-content;

    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: $link-minor;

    margin-bottom: 22px;
  }

  @include hover-animation;

  &--login {
    @media (max-width: $tablet) {
      display: none;

      .header--active &,
      .page--nojs & {
        margin-top: 20px;

        display: block;
        order: 1000;
      }
    }
  }

  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 36px;
  }
}

.nav__cart-icon {
  display: none;

  @media (max-width: $tablet) {
    display: block;
  }
}

.nav__cart-icon svg {
  stroke: $primary;
  fill: transparent;

  .nav__link--cart:hover &,
  .nav__link--cart:focus & {
    stroke: $accent;
  }

  @media (max-width: $tablet) {
    .header--active &,
    .page--nojs & {
      stroke: $white;
    }

    .header--active .nav__link--cart:hover &,
    .header--active .nav__link--cart:focus &,
    .page--nojs .nav__link--cart:hover &,
    .page--nojs .nav__link--cart:focus & {
      stroke: $white;
    }
  }
}

.nav__cart-text {
  @media (max-width: $tablet) {
    display: none;
  }
}

.nav__item {
  display: block;
  margin-bottom: 17px;

  @media (max-width: $tablet) {
    .nav--navigation & {
      margin-bottom: 21px;
    }
  }
}
