.product-card {
  height: 100%;
  width: 100%;

  transition: transform 0.2s ease-out;

  &:hover,
  &:focus-within {
    transform: translateY(-24px);
  }
}

.product-card__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include hover-animation;
}

.product-card__image {
  position: relative;
  flex-grow: 1;
  width: 100%;

  @media (max-width: $tablet) {
    height: 340px;
  }

  @media (max-width: $mobile) {
    height: 136px;
  }

  .page--nojs & {
    overflow: hidden;
  }
}

.product-card__image img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;

  .page--nojs & {
    position: static;
  }
}

.product-card h3 {
  margin-top: 22px;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: $primary;

  @media (max-width: $mobile) {
    margin-top: 18px;
  }
}

.product-card p {
  margin-top: 6px;

  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: $primary;
}
