.showcase {
  padding-top: 93px;
  margin-bottom: 82px;

  @media (max-width: $tablet) {
    padding-top: 42px;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile) {
    padding-top: 32px;
  }
}

.showcase__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;

  @media (max-width: $tablet) {
    margin-bottom: 26px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 16px;
  }
}

.showcase__header h2 {
  margin-bottom: 24px;

  @media (max-width: $tablet) {
    margin-bottom: 20px;
  }
}

.showcase__link-shop {
  @media (max-width: $tablet) {
    padding-bottom: 4px;
  }
}

.showcase__item {
  padding-top: 24px;
}
