.slider {
  position: relative;

  display: flex;
  align-items: center;
}

.slider__track {
  position: absolute;
  top: 50%;

  width: 100%;
  height: 1px;
  background-color: $neutral;

  transform: translateY(-50%);
}

.slider__range {
  height: 1px;
  background-color: $accent;
  width: 90px;
}

.slider__handle-1,
.slider__handle-2 {
  position: relative;

  width: 15px;
  height: 15px;

  &::before {
    position: absolute;
    content: "";

    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $accent;

    transform-origin: top;
    transition: transform 0.2s ease-out;
    cursor: pointer;

    &:hover,
    &:focus {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(1.2);
    }
  }

  &:hover::before,
  &:focus::before {
    transform: scale(1.2);
    opacity: 0.7;
  }

  &:active::before {
    opacity: 0.3;
  }

  &::after {
    content: "$" attr(data-value);
    position: absolute;

    margin-top: 18px;
    left: -6px;

    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
  }
}

.slider__handle-2 {
  margin-right: 0;
}

.slider__handle-1 {
  margin-left: 35px;
}
