.container {
  max-width: 1366px;
  width: 100%;
  padding: 0 98px 0 98px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $tablet) {
    padding: 0 45px 0 45px;
  }

  @media (max-width: $mobile) {
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.heading > h2 {
  font-family: $font-family-ui;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  text-transform: capitalize;
  color: $primary;
}

.link {
  font-family: $font-family;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: $primary;
  text-align: center;

  border-bottom: 1px solid $accent;

  @include hover-default;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 68px;
  padding: 16px;

  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;

  color: $white;

  background: $accent;
  border: 1px solid $accent;
  cursor: pointer;

  &--empty {
    background-color: $white;
    color: $primary;

    @media (max-width: $tablet) {
      & .button__inner {
        width: min-content;
      }
    }

    @media (max-width: $mobile) {
      & .button__inner {
        width: auto;
      }
    }
  }
}
