$font-family: "Poppins", "Courier", sans-serif;
$font-family-ui: "Cormorant Garamond", "Georgia", serif;

$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;
$large: 1280px;

$accent: #a87b62;
$primary: #1d1613;
$white: #ffffff;
$black: #000000;
$grey: #9b9997;
$grey-bgc: rgba(255, 255, 255, 0.15);
$neutral: #f0eae4;
$link-minor: rgba(255, 255, 255, 0.75);
$hero-background: rgba(86, 64, 52, 0.7);
